body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url('/images/Aparatos gym 2.png') center center / cover no-repeat;
    overflow: hidden;
    display: flex;
}